<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Pedido Recibido</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Panton";
        font-size: 22px;
      }
    </style>
  </head>
  <body style="max-width: 800px; margin: auto; position: relative">
    <div style="height: 150px; padding: 0px 30px">
      <div
        style="
          width: 100%;
          height: 150px;
          max-width: 800px;
          background-image: url(https://res.cloudinary.com/dzjz8pe0y/image/upload/v1684439308/mailer/header_rkt1gv.jpg);
          background-repeat: no-repeat;
          background-position: top right;
          background-size: cover;
        "
      >
        <div
          style="
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            z-index: 10;
            padding: 0px 30px;
          "
        >
          <div style="height: 100%; padding-top: 19px">
            <h1
              style="
                color: white;
                font-weight: 800;
                font-style: italic;
                font-size: 75px;
              "
            >
              HOLA!
            </h1>
          </div>
          <div style="height: 100%; padding-top: 28px; margin-left: auto">
            <img
              style="width: 85px; height: 85px"
              src="https://res.cloudinary.com/dzjz8pe0y/image/upload/v1684443348/mailer/guanaco-rental-logo_frapks.png"
              alt="rental logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 0px 40px">
      <h3
        style="
          font-weight: 600;
          font-size: 55px;
          text-align: center;
          padding: 20px 70px 0px 70px;
          font-style: italic;
        "
      >
        TU ALTA DE CLIENTE HA SIDO APROBADA
      </h3>
      <p style="padding: 15px 0px">
        Gracias por unirte al club de amigos de Guanaco Rental. Estamos muy
        felices de que hayas decidido venir.
      </p>

      <p style="font-weight: 700; padding: 15px 0px">
        Para los pedidos que vayas a realizar, te dejamos las siguientes
        recomendaciones:
      </p>

      <p style="padding: 15px 0px">
        - Siempre retirá y devolvé tus pedidos a tiempo. Hay otros clientes como
        vos que necesitan de tu puntualidad para poder llevar adelante sus
        proyectos con éxito. Si por alguna causa no llegás, avisá con tiempo así
        podemos resolverlo.
      </p>

      <p style="padding: 15px 0px">
        - El cuidado de los equipos es tarea de todos. Seamos solidarios, de
        nosotros depende el futuro estado de los elementos que utilizamos para
        trabajar.
      </p>

      <p style="padding: 15px 0px">
        - Respetá las normas y al personal de trabajo. Nuestra prioridad es que
        manejemos un ambiente cordial y colaborativo en nuestra comunidad.
      </p>

      <p style="font-weight: 700; padding: 15px 0px 30px 0px">
        ¡Recordá que siempre estamos a disposición para ayudarte en lo que
        necesites!
      </p>
    </div>
  </body>
  <div style="padding: 20px 0px">
    <div
      style="
        width: 450px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        style="width: 250px; height: 250px"
        src="https://res.cloudinary.com/dzjz8pe0y/image/upload/v1684439308/mailer/guanaco_vjfeks.png"
      />
      <div style="height: 250px; padding-top: 57px">
        <p style="font-size: 55px; font-style: italic; font-weight: 700">
          ¡FELIZ RODAJE!
        </p>
      </div>
    </div>
    <div style="width: 550px; margin: auto; display: flex; padding: 20px 0">
      <a
        style="
          font-size: 15px;
          font-weight: 800;
          color: #cd6328;
          text-decoration: none;
        "
        href="https://www.guanacorental.com/"
        >WWW.GUANACORENTAL.COM</a
      >
      <a
        style="
          margin-left: auto;
          font-size: 15px;
          font-weight: 800;
          color: #cd6328;
          text-decoration: none;
        "
        >GUANACO.RENTALAUDIOVISUAL</a
      >
    </div>
  </div>
</html>
